# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project Files
*.vcxproj
*.user
*.filters
*.sln
**/Debug/*
**/Debug
**/.vs

# Document Files
*.docx
*.doc
*.pdf
*.psd
*.pps

# Keil Files
*.uvgui.*
*.__i
*.build_log.*
*.lnp
**/Listings
*.uvopt
